
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    }

:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
    --neutral-color: rgb(255, 255, 255);
    --correct-color: rgb(159, 223, 159);
    --wrong-color: rgb(204, 102, 102);
    --primary-color: rgb(54, 14, 107);
    --secondary-color:  rgb(202, 45, 233);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    top: 0px
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    top: 0px
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 1rem;
    text-align: center;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}
.directions {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 5rem;
}
/* UTILITIES */

.container {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

/* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.answer-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.answer-container:hover {
cursor: pointer;
background-color: var(--secondary-color);
}

.answer-text {
padding: 1.5rem;
color: var(--neutral-color);
margin: auto;
width: 100%;
}

/*End Game page */
.score-entry {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.font {
    font-size: 2rem;
}
input {
    margin: 10px;
    padding: 10px 20px;
}
/* Style HighScores page*/

ol {
    list-style-position: inside;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
#highScoresList {
    background-color: rgba(54, 14, 107, 0.2);;
}
.result {
    position: absolute;
    bottom:0;
    width: 50vw;
}
.result h2 {
    font-weight: 100;
    color: rgb(189, 189, 189);
    border-top: solid;
    padding: 1rem;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px*/
    body {
        margin: 2rem;
    }
    h1 {
    font-size: 34px;
    margin-bottom: 1rem;
    text-align: center;
    }

    h1 > span {
        font-size: 1.4rem;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    .directions {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
        /* BUTTONS */
    .btn {
        font-size: 1.8rem;
        padding: 1rem 0;
        width: 15rem;
    }

    .answer-text {
    padding: 1.5rem;
    color: var(--neutral-color);
    margin: auto;
    width: 100%;
    }
    /*End Game page */
    .submit-btn {
        font-size: 20px;
        margin-top: 20px;
        padding: 10px 0;
        width: 10rem;
    }
    .score-entry {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .font {
        font-size: 20px;
        text-align: center;
    }
    p {
        margin-top: 30px ;
    }
    input {
        margin: 10px;
        padding: 5px 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575 px*/
    /*End Game page */
    .submit-btn {
        font-size: 1.5rem;
        padding: 1rem 0;
        width: 10rem;
        
    }
    .score-entry {
        flex-direction: column;
        align-items: center;
    }
    .font {
        margin-top: 10px;
    }
}